<div class = "container" ng-controller = "HomeController as main">
	<div class="learn-more">
		<div class="container">
			<div class="row">
				<div class="col-sm-7">
					<h3>Description</h3>
					<p>
						This application helps manage your store by keeping track of the items.
						<ul>
							<li>Item number - The unique identifer</li>
							<li>Description - A simple description of the item</li>
							<li>Cost - The cost</li>
							<li>Quantity - The number of parts currently available</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
